{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">📂 Categories</h2>

<!-- FORM -->
<div class="card p-4 mb-4 shadow-sm">
    <form method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-md-4">
            <input type="text" name="name" class="form-control shadow-sm" placeholder="Category Name" required>
        </div>

        <div class="col-md-3">
            <input type="number" name="display_order" class="form-control shadow-sm" placeholder="Display Order" required>
        </div>

        <div class="col-md-3">
            <input type="text" name="description" class="form-control shadow-sm" placeholder="Description">
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-custom w-100 shadow-sm">Add</button>
        </div>

    </form>
</div>

<!-- CATEGORY CARDS -->
<div class="row">
    {% for cat in categories %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm p-3 h-100">

            <h5 class="fw-bold">{{ cat.name }}</h5>

            <p class="text-muted mb-2">
                {{ cat.description|default:"No description" }}
            </p>

            <span class="badge bg-primary mb-2">
                Order: {{ cat.display_order }}
            </span>

            <!-- DELETE BUTTON -->
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete_id" value="{{ cat.id }}">
                <button class="btn btn-danger btn-sm mt-2 w-100">Delete</button>
            </form>

        </div>
    </div>
    {% empty %}
        <p>No categories added yet.</p>
    {% endfor %}
</div>

{% endblock %}  